<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Estudiantes - MyT</title>
  <link rel="stylesheet" th:href="@{/css/usuarios.css}">
</head>
<body>
<main class="contenedor">
  <header class="encabezado">
    <div>
      <p class="marca">MyT</p>
      <h1>Upsss...¡ha ocurrido un error!</h1>
    </div>
  </header>
   <p class="descripcion" th:text="${errorMessage}"></p>
</main>
</body>
</html>
